HWADDR=00:08:A2:0A:BA:B8
TYPE=Ethernet
BOOTPROTO=none
IPADDR={{ PXE_BOOT_IP | default("127.0.0.1") }}
PREFIX={{ PXE_BOOT_NETWORK_PREFIX | default(24) }}
GATEWAY={{ PXE_BOOT_GATEWAY | default("192.168.2.254") }}
DNS1={{ PXE_BOOT_DNS1 | default("8.8.8.8") }}
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=no
NAME=eth0

DEVICE=eth0
ONBOOT=yes